<h2>Fique por dentro!</h2>
<p>Acompanhe os principais conteúdos para o seu <span>Pet Shop</span></p>
<div class="cards-box">
  <app-card-stay [icon]="'📄'" [label]="'Blog'" [title]="'Canal lojista'"
    [text]="'Notícias sobre os assuntos que podem ajudar no crescimento do seu negócio.'" />
  <app-card-stay [icon]="'📽️'" [label]="'Vídeo'" [title]="'Negócios & Destaques'"
    [text]="'Especialistas trazem conteúdos sobre vendas e inovações do mercado pet.'" />
  <app-card-stay [icon]="'🎙️'" [label]="'Podcast'" [title]="'Universo Pet Shop'"
    [text]="'Bate papo sobre os desafios do empreendedorismo e como se destacar em meio aos desafios.'" />
  <app-card-stay [icon]="'🎓'" [label]="'Estudo'" [title]="'Escola de negócios'"
    [text]="'Plataforma de conhecimento exclusiva para nossos parceiros lojistas.'" />
</div>