<h2>Acesso rápido</h2>
<p>Confira o que temos para você</p>
<div class="cards-box">
  <app-card [emoji]="'😁'" [title]="'Campanhas'"
    [text]="'Consulte as campanhas em andamento, participe e ganhe benefícios'" [label]="'Ver as capanhas'" />
  <app-card [emoji]="'🐶'" [title]="'Exemple Exclusive'"
    [text]="'Acompanhe o seu saldo de pontos e troque por produtos ou serviços'" [label]="'Ver as capanhas'" />
  <app-card [emoji]="'😉'" [title]="'Pedidos'" [text]="'Veja e acompanhe todos os seus pedidos em andamento'"
    [label]="'Ver as capanhas'" />
  <app-card [emoji]="'😶‍🌫️'" [title]="'Mercado Pet'"
    [text]="'Acompanhe o crescimento do mercado pet e quais as oportunidades de negócio'" [label]="'Ver as capanhas'" />
</div>