.home-hello-content {
  position: relative;
  width: 500px;
  height: 212px;
  margin-bottom: 56px;
  h1 {
    font-size: 46px;
  }
  span {
    color: #256fee;
  }
  .button-acess {
    width: 260px;
  }
}
