.header {
  padding: 0 0 50px;
  margin: 0;
  width: 100%;
  background-color: rgba(215, 213, 213, 0.336);
  .home-content {
    position: relative;
    top: -80px;
    width: 88%;
    bottom: 10px;
    border-radius: 8px;
    margin: 0 50px 0 120px;
    padding: 25px;
    background-color: #fff;
  }
}
