<div class="gradient">
  <div class="image-premier">
    <img src="../../../../../assets/Premier Pet Exclusive_files/ExclusiveEditada.png" alt="">
  </div>
  <div class="header-content">
    <div class="points">
      <p>Faltam <span>48.001,00</span> este mês para ser cliente <strong>Gold</strong></p>
      <div class="line"></div>
    </div>
    <div class="logout">
      <div class="vertical-line"></div>
      <span>🔔</span>
      <img src="../../../../../assets/Premier Pet Exclusive_files/675.198.680-79-2024-02-15T20_01_42.png" alt="">
    </div>
  </div>
</div>