<div class="navbar-opened">
  <div class="nav-header">
    <h1>Texto de Exemplo</h1>
  </div>
  <div class="navbar-link">
    <ul>
      <li>Início</li>
      <li>Perfil</li>
      <li>Campanhas</li>
      <li>Exemple Exclusive</li>
      <li>Pedidos</li>
      <li>Mercado</li>
      <li>Ajuda</li>
      <li>Sair</li>
    </ul>
  </div>
  <div class="img-pet">
    <img src="https://app-lojistasfront-dev-01.azurewebsites.net/assets/images/no-requests-dog.png"
      alt="Cachorro empurrando carrinho de compras">
    <p>Consulte o catálogo completo de produtos e troque seus pontos</p>
  </div>
  <div class="catalog-btn"><app-button>Ver catálogo de produto</app-button></div>
</div>
<div class="overlay"></div>